{% extends "base.html" %}

{% block title %}
	 Comment On {{post.subject}}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
	    	<form method="post">
	    		<div class="form-group {{error_coment}}">
	    			<label for="post_comment">comment</label>
	    			<textarea class="form-control" rows="10" id="post_comment" 
	    				name="comment">{{comment}}</textarea>
	    			<span id="helpBlock" class="help-block">{{error_comment_msg}}</span>
	    		</div>
		    	<button type="submit" class="btn btn-default">Submit</button>
		    	<a href="/blog/{{post.key().id()}}" class="btn btn-default">Cancel</a>
	    	</form>
	    </div>
	</div>
	<div class="row">

{% endblock %}