<div class="blog-post">
	<h2 class="blog-post-title">{{p.subject}}</h2>
	<p class="blog-post-meta">
		Author: {{p.get_author_name()}} Created: {{p.created.strftime("%b %d, %y")}} Modified: {{p.last_modified.strftime("%b %d, %y")}} Likes: {{p.get_likes()}}
	</p>
	<p>{{p._render_text | safe}}</p>
	<div class="row blog-post-footer">
		<div class="col-md-2">
			<a href="/blog/{{p.key().id()}}" class="btn btn-default">
				View
			</a>
		</div>
		{% if user.username != p.author.username %}
			<div class="col-md-2">
				<form action="/blog/likepost/{{p.key().id()}}" method="post">
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like
					</button>
				</form>
			</div>
		{% endif %}
		<div class="col-md-2">
			<a href="/blog/{{p.key().id()}}/newcomment" class="btn btn-default">
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comment
			</a>
		</div>
		{% if user.username == p.author.username %}
			<div class="col-md-2">
				<a href="/blog/updatepost/{{p.key().id()}}" class="btn btn-default">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
				</a>
			</div>
			<div class="col-md-2">
				<form action="/blog/deletepost/{{p.key().id()}}" method="post">
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
					</button>
				</form>
			</div>
		{% endif %}

	</div>
</div>